<footer class="footer" id="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">&copy; {{ site.author }} {{ 'now' | date: "%Y" }}</span>
      </div>

      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for link in site.data.navigation.footer.social  %}
            <li class="list-inline-item">
              {% if link.url %}
                <a href="{{ link.url }}">
                  {% if link.icon %}
                    <i class="{{ link.icon }}" aria-hidden="true"></i>
                  {% elsif link.title %}
                    {{ link.title }}
                  {% else %}
                    {{ link.url }}
                  {% endif %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href={{ "legal" | prepend: site.baseurl}}>{{ site.data.navigation.footer.legal | default: "Privacy Policy" }}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>