<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<!--
Only load the bootstrap.bundle where popper is bundled with bootstrap, otherwise you will get an error
https://stackoverflow.com/a/72336371
-->
<script src="{{'/assets/vendor/bootstrap.bundle.min.js' | prepend: site.baseurl}}"></script>
<script async src="{{'/assets/vendor/fontawesome/all.min.js' | prepend: site.baseurl}}"></script>

<!-- MathJax -->
<script type="text/javascript">
  window.MathJax = {
    tex: {
      packages: ['base'],, 'ams'],
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    loader: {
      load: ['ui/menu', '[tex]/ams']
    }
  };
</script>
<script async src="{{'/assets/vendor/mathjax/tex-mml-chtml.js' | prepend: site.baseurl}}"></script>
