<head>
  {% if site.analytics.google %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  	  gtag('config', '{{ site.analytics.google }}');
      // gtag('config', '{{ site.analytics.google }}', {
        // 'allowAnchor': true
      // });
    </script>
    <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <title>
    {% if page.title %}
      {{ page.title | append: " | " | append: site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="{{ site.data.style.primary }}">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="{{ site.data.style.primary }}">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="{{ site.data.style.primary }}">

  <!-- Link main stylesheet -->
  <link rel="stylesheet" href="{{'/assets/css/main.css' | prepend: site.baseurl}}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
</head>