<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <div class="container">

    <!-- Logo or site title -->
    {%- assign href = "/" | prepend: site.baseurl -%}
    <a class="navbar-brand" href="{{ href }}" onclick="gtag('event', 'click', {'event_category':'internal', 'event_label':'{{ href }}'});">
      {%- if site.logo -%}
        <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </a>

    <!-- Dropdown button if site is too narrow -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      MENU
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto"> <!-- text-uppercase -->
        {%- for link in site.data.navigation.navbar -%}
          <!-- TODO: Add sublinks -->
          {%- if link.url -%}
            {%- assign href = link.url | prepend: site.baseurl -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ href }}" onclick="gtag('event', 'click', {'event_category':'internal', 'event_label':'{{ href }}'});">{{ link.title }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>

  </div>
</nav>

{%- comment -%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Click Me!
  </a>
  <!-- Here's the magic. Add the .animate and .slideIn classes to your .dropdown-menu and you're all set! -->
  <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>
{%- endcomment -%}