---
---

// Define variables. These override bootstrap defaults.
/* @import "base/variables"; */
@import "base/mixins";

// Import variables from _config.yml
$primary: {{ site.data.style.primary | default: "#fed136" }} !default;
$primary-bg: lighten($primary, 25%);  // 35%
$secondary: {{ site.data.style.secondary | default: "#fed136" }} !default;
$secondary-bg: lighten($secondary, 27%);
$tertiary: {{ site.data.style.tertiary | default: "#fed136" }} !default;
$tertiary-bg: lighten($tertiary, 25%);
$dark-gray: {{ site.data.style.dark-gray | default: "#000" }} !default;
$dark-gray-bg: lighten($dark-gray, 25%);
$light-gray: {{ site.data.style.light-gray | default: "#fff" }} !default;
$light-gray-bg: lighten($light-gray, 25%);
$black: {{ site.data.style.black | default: "#000" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
// $body-bg
// $body-color

// Import images from _config.yml so they can be accessed in the SASS
$header-img: "{{ site.data.style.header-img }}";

@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

/* @import "base/page";  // Base custom style */

// Components and layouts
/* @import "layout/footer"; */
/* @import "layout/navbar"; */