---
---
@charset "utf-8";


// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";


// Custom colors
$primary: {{ site.data.style.primary | default: "#fed136" }} !default;
$primary-bg: fade-out($primary, 0.7);

$secondary: {{ site.data.style.secondary | default: "#fed136" }} !default;
$secondary-bg: fade-out($secondary, 0.7);

$tertiary: {{ site.data.style.tertiary | default: "#fed136" }} !default;
$tertiary-bg: fade-out($tertiary, 0.7);

$dark-gray: {{ site.data.style.dark-gray | default: "#000" }} !default;
$dark-gray-bg: fade-out($dark-gray, 0.7);

$light-gray: {{ site.data.style.light-gray | default: "#fff" }} !default;
$light-gray-bg: fade-out($light-gray, 0.7);

$black: {{ site.data.style.black | default: "#000" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;


// Custom Images
$header-image: "{{ site.data.style.header-image }}";
// $contact-image: "{{ site.data.style.contact-image }}";


// Global CSS
@import "base/page.scss";


// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";


// Layout
@import "layout/masthead.scss";
@import "layout/footer.scss";
@import "layout/section.scss";
@import "layout/image.scss";
