.navbar-brand {
  @include link-white;
  @include heading-font;
  color: $white;
  font-size: 1.5rem;
}
.nav-link {
  @include link-white;
  @include heading-font;
}
.current {
  text-decoration: underline;
}
.navbar-nav {
  margin-left: auto;  // All items aligned to the right
}

// Toggle button
.navbar-toggler {
  @include heading-font;
  color: $white;
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: $primary;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.navbar-toggler-icon {
  border-color: $white;
}
