/**
 * Page sections
 */
 .page-section {
  padding: 50px 0; // padding: 100px 0;
  h2.section-heading {
    // color: $dark-gray;
    color: $black;
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .section-subheading {
    color: $tertiary; //$dark-gray;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px; //75px;
    text-transform: none;
    // @include serif-font;
    @include heading-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

.section-bg-primary {
  color: $white;
  background-color: $primary;
}

.section-bg-primary-light {
  background-color: $primary-bg; //lighten($primary, 35%);
  // background-blend-mode: lighten;
}

.section-bg-secondary {
  color: $white;
  background-color: $secondary;
}

.section-bg-secondary-light {
  background-color: $secondary-bg; //lighten($secondary, 20%);
  background-blend-mode: lighten;
}

.section-bg-tertiary {
  color: $white;
  background-color: $tertiary;
}

.section-bg-tertiary-light {
  background-color: $tertiary-bg;
}

.section-bg-light-gray {
  color: $white;
  background-color: lighten($light-gray, 35%);
}

.white-link {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: underline;
  }
}