// Font Mixins
@mixin serif-font {
  font-family: "Lora", serif; //Lato
}
@mixin script-font {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
@mixin body-font {
  font-family: "Lora", sans-serif;
}
@mixin heading-font {
  font-family: "Lato", sans-serif;
}

// Other mixins
@mixin hover-light {
  text-decoration: none;
  color: $white;
  &:hover,
  &:active {
    text-decoration: underline;
    color: $white;
    /* color: darken($light, 10%); */
  }
}
@mixin hover-dark {
  text-decoration: none;
  color: $black;
  @inclue hover-light;
  &:hover,
  &:active {
    color: $black; // lighten($dark, 10%);
  }
}