// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $tertiary;
  text-decoration: none;
  &:hover:active {
    color: darken($tertiary, 10%);
    text-decoration: underline;
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

h3,
h4,
h5 {
  .body-heading {
    @include body-font;
  }
}

.page-section {
  padding: 50px 0; // padding: 100px 0;
  h2.section-heading {
    // color: $dark-gray;
    color: $black;
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .section-subheading {
    color: $tertiary; // $dark-gray;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px; // 75px;
    text-transform: none;
    // @include serif-font;
    @include heading-font;
  }
}

img::selection {
  background: transparent;
}

.img-caption {
  margin-top: 10px;
  font-size: 14px;
}