// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  @include hover-dark;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

h3,
h4,
h5 {
  .body-heading {
    @include body-font;
  }
}

img::selection {
  background: transparent;
}

.img-caption {
  margin-top: 10px;
  font-size: 14px;
}